* {
  padding: 0;
  margin: 0;
  color: #fff;
}
body {
  background: #a3a3;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 8vh;
  border: 0.1rem solid #aaa;
  border-radius: 3rem;
  margin: 8vh auto;
}

#task-input {
  width: 20vw;
  height: 7vh;
  font-size: 1.5rem;
  border: none;
  background: none;
}
#task-input:focus {
  outline: none;
}

#add-task {
  width: 5vw;
  height: 5vh;
  margin-left: 1vw;
  font-size: 1.25rem;
  cursor: pointer;
  background: #a7f4d3;
  border: none;
  border-radius: 2rem;
  font-weight: 600;
}

.task-list-container {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 30vw;
  height: 60vh;
  border: 0.1rem solid #aaa;
  border-radius: 3rem;
}

#task-list {
  margin: 3vh auto;
}

.tasks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20vw;
  height: 5vh;
  border: 0.1rem solid #aaa;
  border-radius: 2rem;
  list-style: none;
  margin: 1vh auto;
  color: #555;
}

.delete-task {
  margin-left: 10vw;
  color: #f72626;
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
}
